.vscode
CMakeFiles
build
tinyweb
CMakeCache.txt
node_key.bin
*.bin
*.dat
*.db
blockchain.json
test_state/blockchain/test_blockchain.db
state/blockchain/blockchain.db-shm
state/blockchain/blockchain.db-wal
